CIS-3342_TeamProject/Web References/localhost1/ShowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetService">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetService" />
  </wsdl:message>
  <wsdl:message name="GetServiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceResponse" />
  </wsdl:message>
  <wsdl:message name="convertNameSoapIn">
    <wsdl:part name="parameters" element="tns:convertName" />
  </wsdl:message>
  <wsdl:message name="convertNameSoapOut">
    <wsdl:part name="parameters" element="tns:convertNameResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService2Soap">
    <wsdl:operation name="GetService">
      <wsdl:input message="tns:GetServiceSoapIn" />
      <wsdl:output message="tns:GetServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertName">
      <wsdl:input message="tns:convertNameSoapIn" />
      <wsdl:output message="tns:convertNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService2Soap" type="tns:WebService2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetService">
      <soap:operation soapAction="http://tempuri.org/GetService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertName">
      <soap:operation soapAction="http://tempuri.org/convertName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService2Soap12" type="tns:WebService2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetService">
      <soap12:operation soapAction="http://tempuri.org/GetService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertName">
      <soap12:operation soapAction="http://tempuri.org/convertName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService2">
    <wsdl:port name="WebService2Soap" binding="tns:WebService2Soap">
      <soap:address location="https://localhost:44382/ShowService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService2Soap12" binding="tns:WebService2Soap12">
      <soap12:address location="https://localhost:44382/ShowService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>